.d1,.d2, .d3{
	width: 100px;
	height: 100px;	
	position: absolute;
}

.d1{
	background-color: #f52a52;
	top: 10px; 
	left: 20px;	
}
.d2{
	background-color: #28b0fa;
	top: 40px; 
	left: 40px;	
 }
.d3{
	background-color: #3cfa98;
	top: 60px; 
	left: 60px;	
}
.d123{
	position: relative;
	height:200px;
	width:200px;
	border: 1px solid blue; 
}
.z1{
	z-index:0;
}
.z2{
	z-index:1;
}
.z3{
	z-index:0;
}

