.c2{
    box-sizing: border-box;
    padding: 10px;
    width: 100px;
    height: 50px;
    background: yellow;            
}
.d2{
    margin-left: -150px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.075,0.82, 0.165, 1);
}
.c2:hover +.d2{
    margin-left:0px;
	background-color: darkgreen;
	width: 100px;
	height: 50px;
}